body{
	background-color: #f4f4f4;
	color: #555;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.6em;
	margin: 0;
}


.container{
	width: 80%;
	margin: auto;
	overflow:hidden;
	font-family: math;
}

#navbar1 {
	float: right;
}

#main-header{
	background-color: #001b40;
	color:#fff;
}

#navbar{
	background-color: #001b40;
	color: #fff;
}

#navbar ul{
	padding: 0;
	list-style: none;
}

#navbar li{
	display: inline;
}

#navbar a{
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	padding-right: 15px;
}

#navbar a:hover {
	color: skyblue;
	text-align: center;
}

#showcase{
	background-image: url('../images/wfs3copy.jpg');
	background-repeat: no-repeat;
	background-position: center right;
	height: 300px;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align:center;
	padding-top: 100px;
	font-size: 25px;
}

#showcase h1{
	color: #fff;
	font-size: 35px;
	line-height: 1.6em;
	padding-top: 50px;
}

#main{
	float: left;
	width: 70%;
	padding: 0 30px;
	box-sizing: border-box;
}

#main h1 {
	color: #001b40;
}

#sidebar{
	float: right;
	width: 30%;
	background: #001b40;
	color: #fff;
	padding: 10px;
	box-sizing: border-box;
}

#main-footer{
	background: #001b40;
	color: #fff;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
}

#pixelred {
	font-size: 10px;
}


/* For additional decoration of the floats we apply the codes below*/

@media(max-width:600px){
	#main{
		width: 100%;
		float: none;
	}

	#sidebar{
		width: 100%;
		float: none;
	}
}


